body{
    background-image: linear-gradient(145deg, #b370b3, slateblue, #ffd86a, rgb(199, 36, 199));
    background-size: cover;
    height: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
}
button{
    margin: 10px;
    background-color: blue;
    padding: 10px 20px;
    font-size: 30px;
    color: antiquewhite;
    border-radius: 10px;
}
.row div{
    padding: 10px;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    float: left;
}